@charset "UTF-8";
/*footer*/
.footer {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background: #252525;
  z-index: 10; }
  .footer__top {
    width: 100%;
    float: left;
    padding: 40px 0px 35px 0px; }
    .footer__top--banner {
      width: 33%;
      margin: -15px 0px 0px 0px;
      float: left; }
      .footer__top--banner a {
        opacity: 0.2;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
      .footer__top--banner a:hover {
        opacity: 1; }
    .footer__top--social {
      float: left;
      width: 33%;
      text-align: center; }
      .footer__top--social a {
        opacity: 0.2;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        margin: 0px 10px 0px 10px; }
      .footer__top--social a:hover {
        opacity: 1; }
    .footer__top--partners {
      float: left;
      text-align: center; }
      .footer__top--partners a {
        opacity: 0.75;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        display: inline-block;
        float: left; }
      .footer__top--partners a:hover {
        opacity: 1; }
  .footer__mid {
    width: 100%;
    float: left;
    padding: 22px 0px 22px 0px;
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
    text-align: center; }
    .footer__mid--share {
      display: inline-block;
      width: 45%;
      float: left;
      text-align: right;
      margin-right: 5%; }
      .footer__mid--share span {
        display: inline-block;
        font-size: 14px;
        font-family: "DINProBold";
        color: #666;
        text-transform: uppercase;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        cursor: pointer; }
      .footer__mid--share span:hover {
        color: #ffffff; }
      .footer__mid--share a {
        opacity: 0.2;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        display: inline-block;
        margin: 0px 10px 0px 10px; }
      .footer__mid--share a:hover {
        opacity: 1; }
    .footer__mid--share:nth-of-type(2) {
      display: inline-block;
      width: 45%;
      float: left;
      text-align: left; }
  .footer__bot {
    width: 100%;
    float: left;
    padding: 40px 0px 35px 0px; }
    .footer__bot--copyright {
      display: block;
      position: relative;
      width: 33%;
      float: left;
      font-size: 12px;
      font-family: "DINProBold";
      color: #666;
      text-align: left; }
      .footer__bot--copyright a {
        font-size: 14px;
        font-family: "DINProBold";
        color: #666;
        text-decoration: none;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
      .footer__bot--copyright a:hover {
        color: #dbdde4; }
    .footer__bot--translation {
      display: block;
      position: relative;
      width: 33%;
      float: left;
      /* margin: 0px 37% 0px 37%; */
      text-align: center;
      font-size: 14px;
      font-family: "DINProBold";
      color: #454545; }
      .footer__bot--translation a {
        font-size: 14px;
        font-family: "DINProBold";
        text-transform: uppercase;
        color: #666;
        text-decoration: none; }
      .footer__bot--translation a:hover {
        color: #ffffff !important; }
      .footer__bot--translation a.act {
        color: #ffffff !important; }
    .footer__bot--razrab {
      display: block;
      position: relative;
      width: 33%;
      text-align: right;
      float: right;
      color: #666;
      font-size: 12px;
      font-family: "DINProBold"; }
      .footer__bot--razrab a {
        color: #ffffff !important;
        text-decoration: none; }
      .footer__bot--razrab a:hover {
        color: #ffffff !important; }

/*close footer*/
/* ╨б╤В╨╕╨╗╨╕ ╨┐╤А╨╕╨▓╤П╨╖╤Л╨▓╨░╨╡╨╝ ╨║ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╤Г ╤Б id='Go_Top' */
#Go_Top {
  background: url("../img/in_toph.png");
  width: 57px;
  height: 57px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  display: none;
  cursor: pointer;
  z-index: 99; }

.navbar-toggle {
  float: left !important;
  margin-left: 15px !important;
  border: none !important;
  padding: 5px 0px !important;
  margin-bottom: 0px !important; }

.navbar-toggle .icon-bar {
  width: 30px !important;
  height: 4px !important;
  border-radius: 2px !important;
  margin-bottom: 6px !important; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff !important; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent !important; }

.navbar-nav {
  text-align: left !important; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #ff6b00 !important; }

.nav > li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 6px; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent; }

.navbar-brand > img {
  display: block;
  margin-top: 10px; }

/*section techno*/
.techno {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  float: left;
  background-image: url("../img/tehno_fon.gif");
  padding: 45px 0px 45px 0px;
  text-align: center;
  float: left; }
  .techno__title {
    width: 100%;
    margin: 0px 0px 30px 0px;
    float: left; }
    .techno__title p {
      font-size: 48px; }
    .techno__title p:nth-of-type(2) {
      font-size: 18px;
      margin-top: -14px; }
  .techno__col {
    width: 20%;
    float: left; }
  .techno__block {
    display: inline-block;
    width: 260px;
    height: 293px;
    overflow: hidden; }
    .techno__block a {
      display: block;
      width: 100%;
      float: left;
      color: #000;
      -o-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      .techno__block a .techno__block--img {
        width: 100%;
        height: 293px;
        float: left; }
        .techno__block a .techno__block--img img {
          display: block;
          margin: 23px auto 50px;
          -o-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear; }
        .techno__block a .techno__block--img p {
          font-size: 20px;
          font-family: "DINProLight"; }
      .techno__block a .techno__block--text {
        width: 100%;
        height: 273px;
        padding: 20px 0px 0px 0px;
        font-size: 20px;
        position: relative;
        float: left; }
        .techno__block a .techno__block--text p {
          font-size: 20px;
          font-family: "DINProLight";
          text-transform: uppercase;
          padding-top: 10px; }
        .techno__block a .techno__block--text p:nth-of-type(2) {
          font-size: 20px;
          font-family: "DINProLight";
          text-transform: none;
          padding-top: 10px; }
      .techno__block a .techno__block--text:before {
        content: "";
        width: 100px;
        border-top: 1px solid #989898;
        position: absolute;
        top: 0;
        left: 50%;
        margin: 0px 0px 0px -50px; }
      .techno__block a .techno__block--text:after {
        content: "";
        width: 100px;
        border-bottom: 1px solid #989898;
        position: absolute;
        top: auto;
        bottom: 0;
        left: 50%;
        margin: 0px 0px 0px -50px; }
    .techno__block a:hover {
      margin: -293px 0px 0px 0px; }
    .techno__block a.techno__block--link span {
      background: url("../img/bl-img4.png");
      width: 153px;
      height: 150px;
      margin: 23px 0px 50px 0px;
      display: inline-block;
      -o-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .techno__block a.techno__block--link:hover {
      margin: 0 !important;
      color: #989898; }
      .techno__block a.techno__block--link:hover span {
        background: url("../img/bl-img4h.png"); }

/*close section techno*/
/*section buy*/
.buy {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  text-align: center;
  padding: 10px 0px 0px 0px; }
  .buy__title {
    font-size: 38px;
    font-family: "DINProLight";
    text-transform: uppercase; }
    .buy__title span {
      display: inline-block;
      position: relative;
      margin: 0px 15px 0px 15px; }
  .buy__titlesm {
    display: none;
    font-size: 38px;
    font-family: "DINProLight";
    text-transform: uppercase; }
    .buy__titlesm span {
      display: inline-block;
      position: relative;
      margin: 0px 15px 0px 15px; }
  .buy__map {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    float: left; }
    .buy__map--markers {
      background: rgba(255, 255, 255, 0.8);
      width: 100%;
      padding: 10px 0px 10px 0px;
      position: absolute;
      top: 0;
      left: 0;
      display: none; }
      .buy__map--markers__region {
        position: relative;
        font-size: 18px;
        margin: 1px 50px 0px 0px;
        float: right; }
        .buy__map--markers__region .region {
          float: left;
          position: relative;
          z-index: 2; }
          .buy__map--markers__region .region span {
            display: block;
            margin: 4px 10px 0px 0px;
            font-family: "DINProLight";
            font-size: 21px;
            float: left; }
          .buy__map--markers__region .region button {
            width: 250px;
            height: 38px;
            background-color: #dbdde4;
            border: 1px solid #a4a4a4;
            border-radius: 20px;
            font-size: 18px;
            font-family: "DINProLight";
            color: #333;
            text-transform: uppercase; }
            .buy__map--markers__region .region button span.caret {
              float: right;
              margin: 10px 0 0 0; }
          .buy__map--markers__region .region ul.dropdown-menu {
            left: 19px;
            padding: 0;
            margin: 0; }
            .buy__map--markers__region .region ul.dropdown-menu li a {
              font-size: 18px;
              font-family: "DINProLight";
              color: #333;
              text-transform: uppercase;
              border-bottom: 1px solid #ddd;
              background-color: #eaebed;
              padding-left: 6px; }
              .buy__map--markers__region .region ul.dropdown-menu li a img {
                margin-right: 9px;
                margin-top: -4px; }
        .buy__map--markers__region .city {
          background: #fff;
          width: 220px;
          padding: 4px 10px 5px 20px;
          margin: 0px 0px 0px 10px;
          border: 1px solid #a4a4a4;
          border-radius: 50px;
          -moz-border-radius: 50px;
          -khtml-border-radius: 50px;
          font-size: 18px;
          text-transform: uppercase;
          position: relative;
          z-index: 1;
          float: right; }
          .buy__map--markers__region .city input {
            width: 100%;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            font-family: "DINProLight";
            outline: none;
            border: none; }
      .buy__map--markers__checkbox {
        margin: 6px 0px 0px 50px;
        float: left; }
        .buy__map--markers__checkbox label {
          margin: 0px 55px 0px 0px;
          position: relative;
          color: #222;
          font-family: "DINProLight";
          font-size: 23px; }
          .buy__map--markers__checkbox label input[type="checkbox"] {
            display: none; }
          .buy__map--markers__checkbox label input[type="checkbox"] + label span {
            display: inline-block;
            width: 19px;
            height: 19px;
            margin: -1px 15px 0 0;
            vertical-align: middle;
            cursor: pointer;
            -moz-border-radius: 2px;
            border-radius: 2px;
            border: 2px solid #ff6b00; }
          .buy__map--markers__checkbox label input[type="checkbox"]:checked + label span {
            background-color: #ff6b00;
            background-image: url("../img/label.png");
            background-position: center;
            background-repeat: no-repeat;
            color: #ff6b00; }
    .buy__map--block {
      background: #fff;
      width: 340px;
      height: 532px;
      position: absolute;
      top: 59px;
      right: -330px;
      z-index: 4;
      display: block;
      overflow: hidden; }
    .buy__map--top {
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      padding: 10px 0px 10px 0px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 6; }
      .buy__map--top__center {
        min-width: 200px;
        max-width: 1500px;
        padding: 0px 80px 0px 80px;
        margin: 0 auto;
        clear: left; }
        .buy__map--top__center a.section {
          background: #fff;
          width: 237px;
          color: #e95f0e;
          padding: 6px 0px 8px 0px;
          font-size: 18px;
          text-align: center;
          text-decoration: none;
          border-radius: 20px;
          -moz-border-radius: 20px;
          -khtml-border-radius: 20px;
          -o-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear;
          float: left; }
        .buy__map--top__center a.go_section {
          background: #fff;
          width: 237px;
          color: #e95f0e;
          padding: 6px 0px 8px 0px;
          font-size: 18px;
          text-align: center;
          text-decoration: none;
          border-radius: 20px;
          -moz-border-radius: 20px;
          -khtml-border-radius: 20px;
          -o-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear;
          float: right; }
        .buy__map--top__center a.section:hover, .buy__map--top__center a.go_section:hover {
          background: #e95f0e;
          color: #fff; }
        .buy__map--top__center p.city_title {
          font-size: 24px;
          font-family: "DINProLight";
          text-transform: uppercase;
          color: #fff;
          margin: 0px 18% 0px 18%;
          padding: 4px 0px 0px 0px;
          text-align: center; }
    .buy__map #map {
      display: block;
      width: 100%;
      height: 200px;
      padding: 0;
      margin: 0; }

/*close section buy*/
/*section present*/
.present {
  display: block;
  position: relative;
  width: 100%;
  background: #e95f0e;
  padding: 0px 0px 30px 0px;
  float: left;
  font-family: "DINProLight"; }
  .present__title {
    font-size: 38px;
    font-family: "DINProLight";
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
    .present__title span {
      display: inline-block;
      position: relative;
      margin: 0px 15px 0px 15px; }
  .present__titlesm {
    display: none;
    font-size: 38px;
    font-family: "DINProLight";
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
    .present__titlesm span {
      display: inline-block;
      position: relative;
      margin: 0px 15px 0px 15px; }
  .present__form {
    width: 25%;
    height: 84px;
    margin: 10px 1% 0px 1%;
    float: left; }
    .present__form input[type="text"], .present__form input[type="email"] {
      background: #fff;
      width: 100%;
      padding: 13px 0px 8px 0px;
      font-size: 27px;
      line-height: 27px;
      color: #000;
      text-align: center;
      outline: none;
      border: transparent;
      border-radius: 30px;
      -moz-border-radius: 30px;
      -khtml-border-radius: 30px;
      float: left;
      -o-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
  .present__submit {
    width: 17%;
    margin: 10px 0px 0px 0px;
    float: left; }
    .present__submit input[type="submit"] {
      background: #fff;
      width: 100%;
      padding: 13px 0px 8px 0px;
      font-size: 27px;
      line-height: 27px;
      color: #e95f0e;
      text-align: center;
      outline: none;
      border: transparent;
      border-radius: 30px;
      cursor: pointer;
      -moz-border-radius: 30px;
      -khtml-border-radius: 30px;
      float: left;
      -o-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .present__submit input[type="submit"]:hover {
      background: #e95f0e;
      color: #fff;
      -moz-box-shadow: inset 0 0 0px 1px white;
      -webkit-box-shadow: inset 0 0 0px 1px white;
      box-shadow: inset 0 0 0px 1px white; }

/*close section present*/
/*section products*/
.products {
  display: block;
  position: relative;
  width: 100%;
  float: left; }
  .products__title {
    font-size: 38px;
    font-family: "DINProLight";
    color: #000000;
    text-transform: uppercase;
    text-align: center; }
    .products__title span {
      display: inline-block;
      position: relative;
      margin: 0px 15px 0px 15px; }
  .products p {
    font-size: 21px;
    font-family: "DINProLight";
    color: #3b3b3b;
    text-align: justify;
    margin: 30px 50px 30px 50px;
    float: left; }
  .products__menu {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 45px; }
    .products__menu--link {
      background: #e95f0e;
      padding: 5px 50px 7px 50px;
      font-size: 18px;
      font-family: "DINProBold";
      text-transform: uppercase;
      color: #fff;
      border: 1px solid #e95f0e;
      margin: 0px 10px 0px 10px;
      border-radius: 20px;
      -moz-border-radius: 20px;
      -khtml-border-radius: 20px;
      -o-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .products__menu a.products__menu--link:hover {
      text-decoration: none;
      background: #fff;
      color: #e95f0e; }

/*close section products*/
/*yandex map*/
.ymaps-2-1-35-islets_card__title {
  font-size: 24px;
  font-family: "DINProLight";
  color: #e95f0e !important;
  text-transform: uppercase; }

/*close yandex map*/
@media only screen and (max-width: 1025px) {
  .header--modal {
    font-size: 11px !important; }

  .top-slider #owl-demo .owl-prev {
    left: -13px !important; }

  .top-slider #owl-demo .owl-next {
    right: -13px !important; }

  .techno__col {
    width: 33%;
    float: left; }

  .techno__col:nth-of-type(5) {
    width: 50%;
    float: left; }

  .techno__col:nth-of-type(6) {
    width: 50%;
    float: left; }

  .buy__map--markers__region {
    position: relative;
    font-size: 18px;
    margin: 0px;
    float: left; }

  .present__form {
    width: 50%;
    float: none;
    margin: 5px auto; }
    .present__form input[type="text"], .present__form .present__form input[type="email"] {
      font-size: 15px; }

  .present__submit {
    width: 50%;
    float: none;
    text-align: center;
    margin: 5px auto; }
    .present__submit input[type="submit"] {
      font-size: 15px; }

  .footer__top--banner {
    width: 100%;
    text-align: center; }

  .footer__top--social {
    width: 100%;
    margin: 20px auto; }

  .footer__top--partners {
    width: 100%;
    margin: 20px auto; }

  .footer__top--partners a {
    width: 50%; }
    .footer__top--partners a img {
      width: 245px; }

  .footer__mid--share {
    display: inline-block;
    width: 45%;
    float: left;
    text-align: left;
    margin-right: 0;
    margin-left: 10px; }
    .footer__mid--share span {
      width: 100%; }
    .footer__mid--share a {
      margin: 10px auto; }

  .footer__bot--copyright, .footer__bot--translation, .footer__bot--razrab {
    text-align: center; } }
@media only screen and (max-width: 770px) {
  .header--price {
    font-size: 14px !important; }

  .header--modal {
    font-size: 0 !important; }

  .header--modal i {
    margin: 10px 0 0 0 !important; }

  .navbar-brand img {
    width: 100px !important; }

  .navigation .navbar-nav > li > a {
    padding: 5px 10px 5px 0 !important; }

  .navigation ul li a {
    font-size: 14px !important; }

  .top-slider__item img {
    width: 45% !important; }

  .top-slider #owl-demo .owl-prev {
    left: 31px !important;
    top: 196px !important; }

  .top-slider #owl-demo .owl-next {
    right: 31px !important;
    top: 196px !important; }

  .assortment--link {
    display: none !important; }

  .assortment--linksm {
    display: block !important; }

  .techno__col {
    width: 50%;
    float: left; }

  .techno__col:last-of-type {
    width: 100%;
    float: left; }

  .present__title {
    display: none; }

  .present__titlesm {
    display: block; }

  .present__form {
    width: 80%;
    float: none;
    margin: 5px auto; }
    .present__form input[type="text"], .present__form .present__form input[type="email"] {
      font-size: 15px; }

  .present__submit {
    width: 80%;
    float: none;
    text-align: center;
    margin: 5px auto; }
    .present__submit input[type="submit"] {
      font-size: 15px; }

  .products__menu--link {
    float: left;
    width: 33%;
    margin: 10px auto;
    font-size: 17px; }

  .footer__top--banner {
    width: 100%;
    text-align: center; }

  .footer__top--social {
    width: 100%;
    margin: 20px auto; }

  .footer__top--partners {
    width: 100%;
    margin: 20px auto; }

  .footer__top--partners a {
    width: 50%; }
    .footer__top--partners a img {
      width: 245px; }

  .footer__mid--share {
    display: inline-block;
    width: 45%;
    float: left;
    text-align: left;
    margin-right: 0;
    margin-left: 10px; }
    .footer__mid--share span {
      width: 100%; }
    .footer__mid--share a {
      margin: 10px auto; }

  .footer__bot--copyright, .footer__bot--translation, .footer__bot--razrab {
    text-align: center; } }
@media only screen and (max-width: 568px) {
  .icon--price {
    margin: 9px 0px 0px 0px !important; }

  .header--price {
    font-size: 0 !important; }

  .header--search {
    display: none !important; }

  .header--search--btn {
    padding: 4px 0px 0px 4px !important; }

  .header--modal {
    font-size: 0 !important; }

  .header--modal i {
    margin: 10px 5px !important; }

  .navigation .navbar-nav > li > a {
    padding: 5px 30px 5px 30px !important; }

  .navigation ul li a {
    background-image: url("../img/m_st.png") !important;
    background-repeat: no-repeat !important;
    background-position: right !important; }

  .navbar-brand {
    float: right !important; }

  .navbar-brand img {
    width: 100% !important; }

  .owl-buttons {
    display: none !important; }

  .top-slider__item h2 {
    font-size: 48px !important; }

  .top-slider--more {
    font-size: 15px !important; }

  .owl-pagination {
    display: none !important; }

  .assortment--link {
    display: none !important;
    font-size: 18px !important; }

  .assortment--linksm {
    display: block !important;
    font-size: 18px !important; }
    .assortment--linksm img {
      width: 36px !important; }

  .home-news .nav-pills li {
    margin: 5px auto !important; }

  .home-news .nav-pills li a {
    font-size: 18px !important;
    width: 184px !important; }

  .home-news__item--img {
    height: 200px !important; }

  .techno__col {
    width: 100%;
    float: left; }

  .techno__col:nth-of-type(5) {
    width: 100%;
    float: left; }

  .buy__title {
    display: none; }

  .buy__titlesm {
    display: block; }

  .buy__map--top__center {
    padding: 3px; }

  .buy__map--top__center {
    padding: 0px 30px 0px 30px; }

  .buy__map--top__center a.section {
    width: 100%;
    float: left;
    margin: 5px auto; }

  .buy__map--top__center a.go_section {
    width: 100%;
    float: left;
    margin: 5px auto; }

  .buy__map--markers__region .region span {
    display: none; }

  .buy__map--markers__region {
    width: 100%;
    margin: 0px;
    float: left; }

  .buy__map--markers__region .region {
    width: 100%;
    float: none; }

  .buy__map--markers__region .city {
    width: 80%;
    margin: 5px auto;
    float: none; }

  .buy__map--markers__checkbox {
    margin: 0px;
    float: left; }

  .buy__map--markers__checkbox label {
    margin: 0px;
    font-size: 18px;
    width: 100%; }

  .present__title {
    display: none; }

  .present__titlesm {
    display: block;
    font-size: 18px; }
    .present__titlesm span img {
      width: 36px; }

  .present__title {
    display: none; }

  .present__titlesm {
    display: block; }

  .present__form {
    width: 90%;
    float: none;
    text-align: center;
    margin: 5px auto; }
    .present__form input[type="text"], .present__form .present__form input[type="email"] {
      font-size: 14px; }

  .present__submit {
    width: 90%;
    float: none;
    text-align: center;
    margin: 5px auto; }
    .present__submit input[type="submit"] {
      font-size: 14px; }

  .products__menu--link {
    float: left;
    width: 100%;
    margin: 10px auto; }

  .footer__top--banner {
    width: 100%;
    text-align: center; }

  .footer__top--social {
    width: 100%;
    margin: 20px auto; }

  .footer__top--partners {
    width: 100%;
    margin: 20px auto; }

  .footer__top--partners a {
    width: 50%; }
    .footer__top--partners a img {
      width: 180px; }

  .footer__mid--share {
    display: inline-block;
    width: 100%;
    float: left;
    text-align: left;
    margin-right: 0;
    margin-left: 10px; }
    .footer__mid--share span {
      width: 100%; }
    .footer__mid--share a {
      margin: 10px 10px; }

  .footer__mid--share:nth-of-type(2) {
    display: inline-block;
    width: 100%;
    float: left;
    text-align: left;
    margin-right: 0;
    margin-left: 10px; }
    .footer__mid--share:nth-of-type(2) span {
      width: 100%; }
    .footer__mid--share:nth-of-type(2) a {
      margin: 10px 10px; }

  .footer__bot--copyright, .footer__bot--translation, .footer__bot--razrab {
    width: 100%;
    text-align: center;
    margin: 10px auto; } }
@media only screen and (max-width: 380px) {
  .navbar-brand {
    float: right !important; }

  .navbar-brand img {
    width: 100% !important; }

  .navigation ul li a {
    background-image: url("../img/m_st.png") !important;
    background-repeat: no-repeat !important;
    background-position: right !important; }

  .techno__col {
    width: 100%;
    float: left; }

  .techno__col:nth-of-type(5) {
    width: 100%;
    float: left; } }
@media only screen and (max-width: 320px) {
  .icon--price {
    margin: 9px 0px 0px 0px !important; }

  .header--price {
    font-size: 0 !important; }

  .header--search {
    display: none !important; }

  .header--search--btn {
    padding: 4px 0px 0px 4px !important; }

  .header--modal {
    font-size: 0 !important; }

  .header--modal i {
    margin: 10px 5px !important; }

  .navigation {
    padding-top: 10px !important;
    padding-bottom: 10px !important; }

  .navigation .navbar-brand {
    padding-top: 10px !important;
    padding-bottom: 10px !important; }

  .navigation .navbar-nav > li > a {
    padding: 5px 30px 5px 30px !important; }

  .navigation ul li a {
    font-size: 18px !important; }

  .navigation ul li a {
    background-image: url("../img/m_st.png") !important;
    background-repeat: no-repeat !important;
    background-position: right !important; }

  .navbar-brand {
    float: right !important; }

  .navbar-brand img {
    width: 100% !important;
    margin-top: 0px !important; }

  .owl-buttons {
    display: none !important; }

  .top-slider__item h2 {
    font-size: 48px !important; }

  .top-slider--more {
    font-size: 15px !important; }

  .owl-pagination {
    display: none !important; }

  .assortment--link {
    display: none !important;
    font-size: 18px !important; }

  .assortment--linksm {
    display: block !important;
    font-size: 18px !important; }
    .assortment--linksm img {
      width: 36px !important; }

  .home-news .nav-pills li {
    margin: 5px auto !important; }

  .techno__title p {
    font-size: 36px; }

  .techno__title p:nth-of-type(2) {
    font-size: 18px; }

  .techno__col {
    width: 100%; }

  .buy__title {
    display: none; }

  .buy__titlesm {
    display: block;
    font-size: 18px; }
    .buy__titlesm span img {
      width: 36px; }

  .buy__map--top__center {
    padding: 0px 30px 0px 30px; }

  .buy__map--top__center a.section {
    width: 253px;
    float: left;
    margin: 5px auto; }

  .buy__map--top__center a.go_section {
    width: 253px;
    float: left;
    margin: 5px auto; }

  .buy__map--markers__region .region span {
    display: none; }

  .buy__map--markers__region {
    width: 100%;
    margin: 0px;
    float: left; }

  .buy__map--markers__region .region {
    width: 100%;
    float: none; }

  .buy__map--markers__region .city {
    width: 80%;
    margin: 5px auto;
    float: none; }

  .buy__map--markers__checkbox {
    margin: 0px;
    float: left; }

  .buy__map--markers__checkbox label {
    margin: 0px;
    font-size: 18px;
    width: 100%; }

  .present__title {
    display: none; }

  .present__titlesm {
    display: block;
    font-size: 18px; }
    .present__titlesm span img {
      width: 36px; }

  .present__form {
    width: 93%;
    margin: 0 10px 0 10px; }

  .present__form input[type="text"], .present__form input[type="email"] {
    padding: 10px 0px 8px 0px;
    font-size: 14px; }

  .present__submit {
    width: 93%;
    margin: 0px 10px 0px 10px; }

  .present__submit input[type="submit"] {
    padding: 10px 0px 8px 0px;
    font-size: 14px; }

  .products__title {
    font-size: 18px; }
    .products__title span img {
      width: 36px; }

  .products p {
    font-size: 16px;
    margin: 10px auto; }

  .products__menu--link {
    float: left;
    width: 100%;
    margin: 10px auto; }

  .footer__top--banner {
    width: 100%;
    text-align: center; }

  .footer__top--social {
    width: 100%;
    margin: 20px auto; }

  .footer__top--partners {
    width: 100%;
    margin: 20px auto; }

  .footer__top--partners a {
    width: 50%; }
    .footer__top--partners a img {
      width: 130px; }

  .footer__mid--share {
    display: inline-block;
    width: 100%;
    float: left;
    text-align: left;
    margin-right: 0;
    margin-left: 10px; }
    .footer__mid--share span {
      width: 100%; }
    .footer__mid--share a {
      margin: 10px 10px; }

  .footer__mid--share:nth-of-type(2) {
    display: inline-block;
    width: 100%;
    float: left;
    text-align: left;
    margin-right: 0;
    margin-left: 10px; }
    .footer__mid--share:nth-of-type(2) span {
      width: 100%; }
    .footer__mid--share:nth-of-type(2) a {
      margin: 10px 10px; }

  .footer__bot--copyright, .footer__bot--translation, .footer__bot--razrab {
    width: 100%;
    text-align: center;
    margin: 10px auto; } }

/*# sourceMappingURL=styles.css.map */
