/*footer*/
.footer{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background: #252525;
  z-index: 10;
  &__top{
    width: 100%;
    float: left;
    padding: 40px 0px 35px 0px;
    &--banner{
      width: 33%;
      margin: -15px 0px 0px 0px;
      float: left;
      a{
        opacity: 0.2;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
      }
      a:hover{
        opacity: 1;
      }
    }
    &--social{
      float: left;
      width: 33%;
      text-align: center;
      a{
        opacity: 0.2;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
//        display: inline-block;
        margin: 0px 10px 0px 10px;
      }
      a:hover{
        opacity: 1;
      }
    }
    &--partners{
      float: left;
//      width: 33%;
      text-align: center;
      a{
        opacity: 0.75;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        display: inline-block;
        float: left;
//        margin: 0px 10px 0px 10px;
      }
      a:hover{
        opacity: 1;
      }
    }
  }
  &__mid{
    width: 100%;
    float: left;
    padding: 22px 0px 22px 0px;
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
    text-align: center;
    &--share{
      display: inline-block;
      width: 45%;
      float: left;
      text-align: right;
      margin-right: 5%;
      span{
        display: inline-block;
//        float: left;
        font-size: 14px;
        font-family: "DINProBold";
        color: #666;
        text-transform: uppercase;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        cursor: pointer;
//        margin-top: 6px;
      }
      span:hover{
        color: #ffffff;
      }
      a{
        opacity: 0.2;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
                display: inline-block;
        margin: 0px 10px 0px 10px;
      }
      a:hover{
        opacity: 1;
      }
    }
    &--share:nth-of-type(2){
      display: inline-block;
      width: 45%;
      float: left;
      text-align: left;
    }
  }
  &__bot{
    width: 100%;
    float: left;
    padding: 40px 0px 35px 0px;
    &--copyright{
      display: block;
      position: relative;
      width: 33%;
      float: left;
      font-size: 12px;
      font-family: "DINProBold";
      color: #666;
      text-align: left;
      a{
        font-size: 14px;
        font-family: "DINProBold";
        color: #666;
        text-decoration: none;
        -o-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
      }
      a:hover{
        color: #dbdde4;
      }
    }
    &--translation{
      display: block;
      position: relative;
      width: 33%;
      float: left;
      /* margin: 0px 37% 0px 37%; */
      text-align: center;
      font-size: 14px;
      font-family: "DINProBold";
      color: #454545;
      a{
        font-size: 14px;
        font-family: "DINProBold";
        text-transform: uppercase;
        color: #666;
        text-decoration: none;
      }
      a:hover{
        color: #ffffff!important;
      }
      a.act{
        color: #ffffff!important;
      }
    }
    &--razrab{
      display: block;
      position: relative;
      width: 33%;
      text-align: right;
      float: right;
      color: #666;
      font-size: 12px;
      font-family: "DINProBold";
      a{
        color: #ffffff!important;
        text-decoration: none;
      }
      a:hover{
        color: #ffffff!important;
      }
    }
  }
}
/*close footer*/
/* Стили привязываем к элементу с id='Go_Top' */
#Go_Top{
  background: url("../img/in_toph.png");
  width: 57px;
  height: 57px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  display: none;
  cursor: pointer;
//  opacity: 0.5;
//  -o-transition: all 0.2s linear;
//  -moz-transition: all 0.2s linear;
//  -webkit-transition: all 0.2s linear;
//  transition: all 0.2s linear;
  z-index: 99;
}
//
//#Go_Top:hover{
//  background: url("../img/in_top.png");
////  opacity: 1;
//}