.header {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 0;
	background-color: #B4B6BB;
	&--price {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		height: 46px;
		line-height: 46px;
		text-transform: uppercase;
		font-family: $m;
		font-size: 16px;
		text-align: center;
		color: #fff;
		background-color: $or;
		@include transition(.3s);
		&:hover, &:active &:focus {
			color:#fff;
			text-decoration: none; 
			background-color: #fff; 
			color: #e95f0e;
			i.icon--price {
				background-image: url('../img/podarok_h.png');
			}
		};
	}
	&--search {
		display: block;
		float: left;
		outline: none;
		position: relative;
		width: 100%;
		height: 27px;
		line-height: 27px;
		font-size: 10px;
		-webkit-border-radius: 35px;
		        border-radius: 35px;
		@include background-clip(padding-box);
		background-color: #fff;
		font-size: 12px;
		text-transform: uppercase;
		margin: 8px -35px 8px 0;
		padding: 0 20px 0 15px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		outline: none;
		border: none;
		&--btn {
			display: block;
			float: left;
			position: relative;
			border: none;
			outline: none;
			text-align: center;
			font-size: 18px;
			line-height: 16px;
			height: 27px;
			margin: 7px 0;
			background-color: rgba(0,0,0,0);
			@include transition(.3s);
			@include link{color: $or;}
		}
	}
	&--lang {
		display: block;
		float: left;
		@include border-radius(0);
		background-color: rgba(0,0,0,0);
		height: 46px;
		width: 100%;
		border-left: 1px solid #CFCFCF;
		border-right: 1px solid #8A8A8A;
		position: relative;
		&:before, &:after {
			content: "";
			width: 1px;
			position: absolute;
			top: 0;
			bottom: 0;
		}
		&:before {
			left: 0px;
			background-color: #AAA;
		}
		&:after {
			right: 0px;
			background-color:#DCDCDC ;
		}
		.btn {
			background: none;			
			padding-top: 0;
			padding-bottom: 0;
			line-height: 0;
			height: 46px;
			width: 100%;
			@include border-radius(0);
			border: none;
		}
		.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
			-webkit-box-shadow: none;
			        box-shadow: none;
		    background-color: #FFF;
		    outline: none;
		}
		.dropdown-menu {
			min-width: 100%;
			padding: 0;
			margin: 0;
			border: none;
			@include border-radius(0);			
		}
		.dropdown-menu>li>a {
			display: block;
			padding: 0 20px;
			height: 46px;
		    line-height: 46px;
			background-color: #cacaca;
			text-align: center;
			border-bottom: 1px solid #fff;
			@include link{ background-color: #eaebed};
		} 
	}
	&--social {
		display: block;
		float: left;
		width: 100%;
		height: 46px;
		line-height: 46px;
		text-align: center;
		a {
			display: inline-block;
			width: 27px;
			height: 27px;
			color: #666666;
			text-align: center;
			margin: 0 5px;
			font-size: 14px;
			line-height: 22px;
			border: 2px solid #6B6B6C;
			@include border-radius(50%);
			@include transition (.3s);
			@include link {text-decoration: none; }
			&:hover, &:active, &:focus {
				border: 2px solid #fff;		
				background-color: #FFF;		
			}
		}
	}
	&--modal {
		width: 100%;
		height: 46px;
		line-height: 46px;
		color: #666666;
		border-left: 1px solid #CFCFCF;
		border-right: 1px solid #8A8A8A;
		position: relative;
		display: block;
		font-size: 13px;
		text-align: center;
		text-transform: uppercase;
		font-family: $b;
		@include transition (.3s);
		@include link {text-decoration: none;}
		&:hover, &:active, &:focus {
			color: #FFF;
			i {
				background-color: #FFF; border: 2px solid #fff;
			}
		}
		i {
			display: inline-block;
			line-height: 33px;
			width: 27px;
			height: 27px;
			color: #6B6B6C;
			text-align: center;
			margin: 0 5px;
			font-size: 14px;
			line-height: 22px;
			border: 2px solid #6B6B6C;
			@include border-radius(50%);
			text-decoration: none;
			@include transition (.3s);
		}
		&:before, &:after {
			content: "";
			width: 1px;
			position: absolute;
			top: 0;
			bottom: 0;
		}
		&:before {
			left: 0px;
			background-color: #AAA;
		}
		&:after {
			right: 0px;
			background-color:#DCDCDC ;
		}
	}
}