@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 1380px) {

}

@media only screen and (max-width: 1025px) {

}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 770px) {

}


@media only screen and (max-width: 568px) {


}

@media only screen and (max-width: 380px) {

}

@media only screen and (max-width: 320px) {

  .icon--price {
    margin: 9px 0px 0px 0px!important;
  }
  .header--price {
    font-size: 0!important;
  }
  .header--search {
    display: none!important;
  }
  .header--search--btn {
    padding: 4px 0px 0px 4px!important;
  }
  .header--modal {
    font-size: 0!important;
  }
  .header--modal i {
    margin: 10px 5px!important;
  }
  .navbar-nav {
    text-align: center!important;
  }
  .navigation .navbar-nav > li > a {
    padding: 5px 30px 5px 30px!important;
  }
  .owl-buttons{
    display: none!important;
  }
  .top-slider__item h2 {
    font-size: 48px!important;
  }
  .top-slider--more {
    font-size: 15px!important;
  }
}



