@media only screen and (max-width: 1440px) {

}

@media only screen and (max-width: 1380px) {

}

@media only screen and (max-width: 1025px) {

  .header--modal {
    font-size: 11px!important;
  }
  .top-slider #owl-demo .owl-prev {
    left: -13px!important;
  }
  .top-slider #owl-demo .owl-next {
    right: -13px!important;
  }
  .techno__col {
    width: 33%;
    float: left;
  }
  .techno__col:nth-of-type(5) {
    width: 50%;
    float: left;
  }
  .techno__col:nth-of-type(6) {
    width: 50%;
    float: left;
  }
  .buy__map--markers__region {
    position: relative;
    font-size: 18px;
    margin: 0px;
    float: left;
  }
  .present__form {
    width: 50%;
    float: none;
    margin: 5px auto;
    input[type="text"], .present__form input[type="email"] {
      font-size: 15px;
    }
  }
  .present__submit {
    width: 50%;
    float: none;
    text-align: center;
    margin: 5px auto;
    input[type="submit"]{
      font-size: 15px;
    }
  }
  .footer__top--banner {
    width: 100%;
    text-align: center;
  }
  .footer__top--social {
    width: 100%;
    margin: 20px auto;
  }
  .footer__top--partners {
    width: 100%;
    margin: 20px auto;
  }
  .footer__top--partners a {
    width: 50%;
    img{
      width: 245px;
    }
  }
  .footer__mid--share {
    display: inline-block;
    width: 45%;
    float: left;
    text-align: left;
    margin-right: 0;
    margin-left: 10px;
    span{
      width: 100%;
    }
    a{
      margin: 10px auto;
    }
  }
  .footer__bot--copyright, .footer__bot--translation, .footer__bot--razrab {
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 770px) {

  .header--price {
    font-size: 14px!important;
  }
  .header--modal {
    font-size: 0!important;
  }
  .header--modal i {
    margin: 10px 0 0 0!important;
  }
  .navbar-brand{
    img {
      width: 100px!important;
    }
  }
  .navigation .navbar-nav > li > a {
    padding: 5px 10px 5px 0!important;
  }
  .navigation ul li a {
    font-size: 14px!important;
  }
  .top-slider__item img {
    width: 45%!important;
  }
  .top-slider #owl-demo .owl-prev {
    left: 31px!important;
    top: 196px!important;
  }
  .top-slider #owl-demo .owl-next {
    right: 31px!important;
    top: 196px!important;
  }
  .assortment--link {
    display: none!important;
  }
  .assortment--linksm {
    display: block!important;
  }
  .techno__col {
    width: 50%;
    float: left;
  }
  .techno__col:last-of-type {
    width: 100%;
    float: left;
  }
  .present__title {
    display: none;
  }
  .present__titlesm {
    display: block;
  }
  .present__form {
    width: 80%;
    float: none;
    margin: 5px auto;
    input[type="text"], .present__form input[type="email"] {
      font-size: 15px;
    }
  }
  .present__submit {
    width: 80%;
    float: none;
    text-align: center;
    margin: 5px auto;
    input[type="submit"]{
      font-size: 15px;
    }
  }
  .products__menu--link {
    float: left;
    width: 33%;
    margin: 10px auto;
    font-size: 17px;
  }
  .footer__top--banner {
    width: 100%;
    text-align: center;
  }
  .footer__top--social {
    width: 100%;
    margin: 20px auto;
  }
  .footer__top--partners {
    width: 100%;
    margin: 20px auto;
  }
  .footer__top--partners a {
    width: 50%;
    img{
      width: 245px;
    }
  }
  .footer__mid--share {
    display: inline-block;
    width: 45%;
    float: left;
    text-align: left;
    margin-right: 0;
    margin-left: 10px;
    span{
      width: 100%;
    }
    a{
      margin: 10px auto;
    }
  }
  .footer__bot--copyright, .footer__bot--translation, .footer__bot--razrab {
    text-align: center;
  }
}

@media only screen and (max-width: 568px) {

  .icon--price {
    margin: 9px 0px 0px 0px!important;
  }
  .header--price {
    font-size: 0!important;
  }
  .header--search {
    display: none!important;
  }
  .header--search--btn {
    padding: 4px 0px 0px 4px!important;
  }
  .header--modal {
    font-size: 0!important;
  }
  .header--modal i {
    margin: 10px 5px!important;
  }
  .navbar-nav {
    text-align: center!important;
  }
  .navigation .navbar-nav > li > a {
    padding: 5px 30px 5px 30px!important;
  }
  .owl-buttons{
    display: none!important;
  }
  .top-slider__item h2 {
    font-size: 48px!important;
  }
  .top-slider--more {
    font-size: 15px!important;
  }
  .owl-pagination {
    display: none!important;
  }
  .assortment--link {
    display: none!important;
    font-size: 18px!important;
  }
  .assortment--linksm {
    display: block!important;
    font-size: 18px!important;
    img{
      width: 36px!important;
    }
  }
  .home-news .nav-pills li {
    margin: 5px auto!important;
  }
  .home-news .nav-pills li a {
    font-size: 18px!important;
    width: 184px!important;
  }
  .home-news__item--img {
    height: 200px!important;
  }
  .techno__col {
    width: 50%;
    float: left;
  }
  .techno__col:last-of-type {
    width: 100%;
    float: left;
  }
  .buy__title {
    display: none;
  }
  .buy__titlesm {
    display: block;
  }
  .buy__map--top__center {
    padding: 3px;
  }
  .buy__map--top__center a.section, .buy__map--top__center a.go_section {
    width: 190px;
  }
  .buy__map--markers__region {
    width: 100%;
    margin: 0px;
    float: left;
  }
  .buy__map--markers__region .region span {
    display: none;
  }
  .present__title {
    display: none;
  }
  .present__titlesm {
    display: block;
  }
  .present__form {
    width: 90%;
    float: none;
    text-align: center;
    margin: 5px auto;
    input[type="text"], .present__form input[type="email"]{
      font-size: 14px;
    }
  }
  .present__submit {
    width: 90%;
    float: none;
    text-align: center;
    margin: 5px auto;
    input[type="submit"]{
      font-size: 14px;
    }
  }
  .products__menu--link {
    float: left;
    width: 100%;
    margin: 10px auto;
  }
  .footer__top--banner {
    width: 100%;
    text-align: center;
  }
  .footer__top--social {
    width: 100%;
    margin: 20px auto;
  }
  .footer__top--partners {
    width: 100%;
    margin: 20px auto;
  }
  .footer__top--partners a {
    width: 50%;
    img{
      width: 245px;
    }
  }
  .footer__mid--share {
    display: inline-block;
    width: 45%;
    float: left;
    text-align: left;
    margin-right: 0;
    margin-left: 10px;
    span{
      width: 100%;
    }
    a{
      margin: 10px auto;
    }
  }
  .footer__bot--copyright, .footer__bot--translation, .footer__bot--razrab {
    text-align: center;
  }
}

@media only screen and (max-width: 380px) {
  .techno__col {
    width: 100%;
    float: left;
  }
  .techno__col:nth-of-type(5) {
    width: 100%;
    float: left;
  }
}

@media only screen and (max-width: 320px) {

  .icon--price {
    margin: 9px 0px 0px 0px!important;
  }
  .header--price {
    font-size: 0!important;
  }
  .header--search {
    display: none!important;
  }
  .header--search--btn {
    padding: 4px 0px 0px 4px!important;
  }
  .header--modal {
    font-size: 0!important;
  }
  .header--modal i {
    margin: 10px 5px!important;
  }
  .navbar-nav {
    text-align: center!important;
  }
  .navigation .navbar-nav > li > a {
    padding: 5px 30px 5px 30px!important;
  }
  .navigation ul li a {
    font-size: 18px!important;
  }
  .owl-buttons{
    display: none!important;
  }
  .top-slider__item h2 {
    font-size: 48px!important;
  }
  .top-slider--more {
    font-size: 15px!important;
  }
  .owl-pagination {
    display: none!important;
  }
  .assortment--link {
    display: none!important;
    font-size: 18px!important;
  }
  .assortment--linksm {
    display: block!important;
    font-size: 18px!important;
    img{
      width: 36px!important;
    }
  }
  .home-news .nav-pills li {
    margin: 5px auto!important;
  }
  .techno__title p {
    font-size: 36px;
  }
  .techno__title p:nth-of-type(2) {
    font-size: 18px;
  }
  .techno__col {
    width: 100%;
  }
  .buy__title {
    display: none;
  }
  .buy__titlesm {
    display: block;
    font-size: 18px;
    span{
      img{
        width: 36px;
      }
    }
  }
  .buy__map--top__center {
    padding: 0px 30px 0px 30px;
  }
  .buy__map--top__center a.section {
    width: 253px;
    float: left;
    margin: 5px auto;
  }
  .buy__map--top__center a.go_section {
    width: 253px;
    float: left;
    margin: 5px auto;
  }
  .buy__map--markers__region .region span {
    display: none;
  }
  .buy__map--markers__region {
    width: 100%;
    margin: 0px;
    float: left;
  }
  .buy__map--markers__region .region {
    width: 100%;
    float: none;
  }
  .buy__map--markers__region .city {
    width: 80%;
    margin: 5px auto;
    float: none;
  }
  .buy__map--markers__checkbox {
    margin: 0px;
    float: left;
  }
  .buy__map--markers__checkbox label {
    margin: 0px;
    font-size: 18px;
    width: 100%;
  }
  .present__title {
    display: none;
  }
  .present__titlesm {
    display: block;
    font-size: 18px;
    span{
      img{
        width: 36px;
      }
    }
  }
  .present__form {
    width: 93%;
    margin: 0 10px 0 10px;
  }
  .present__form input[type="text"], .present__form input[type="email"] {
    padding: 10px 0px 8px 0px;
    font-size: 14px;
  }
  .present__submit {
    width: 93%;
    margin: 0px 10px 0px 10px;
  }
  .present__submit input[type="submit"] {
    padding: 10px 0px 8px 0px;
    font-size: 14px;
  }
  .products__title {
    font-size: 18px;
    span{
      img{
        width: 36px;
      }
    }
  }
  .products p {
    font-size: 16px;
    margin: 10px auto;
  }
  .products__menu--link {
    float: left;
    width: 100%;
    margin: 10px auto;
  }
  .footer__top--banner {
    width: 100%;
    text-align: center;
  }
  .footer__top--social {
    width: 100%;
    margin: 20px auto;
  }
  .footer__top--partners {
    width: 100%;
    margin: 20px auto;
  }
  .footer__top--partners a {
    width: 50%;
    img{
      width: 130px;
    }
  }
  .footer__mid--share {
    display: inline-block;
    width: 45%;
    float: left;
    text-align: left;
     margin-right: 0;
    margin-left: 10px;
    span{
      width: 100%;
    }
    a{
      margin: 10px auto;
    }
  }
  .footer__bot--copyright, .footer__bot--translation, .footer__bot--razrab {
    text-align: center;
  }
}



